# docker-compose-web-worker.yml for running the django server+worker in docker
services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file: .env
    environment:
      - RUN_MIGRATIONS=true
      - DJANGO_ENV=development
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: python src/manage.py runserver 0.0.0.0:8000

  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file: .env
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: python src/manage.py rqworker --job-class django_tasks.backends.rq.Job default
